fastapi==0.112.1
uvicorn==0.30.6
pydantic==2.9.0
loguru==0.7.2
boto3==1.34.162
httpx==0.27.2
prometheus-client==0.20.0
python-json-logger==2.0.7
mypy==1.11.2
pytest==8.3.2
pytest-asyncio==0.24.0
ruff==0.6.4
bandit==1.7.9
types-requests==2.32.0.20240712
locust==2.39.0
watchtower==1.0.9
# Optional locally; in AWS container image as needed
# snowflake-connector-python
